.full-board {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.board-content-main {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;margin-top: 30px;
}

.board-content-icon {
    margin-left: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    color: #999;
    border: 1px solid grey;
    box-shadow: 0 0 2px grey;
    text-align: center;
}

.board-content-icon .fa-chart-bar {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 4px;
}

.wrap-header {
    background-color: white;
    height: 49px;
    border: 0.5px solid rgb(187, 182, 182);
    width: 100%;
}

.header-board {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.board-set-text {
    color: rgba(39, 18, 66, 0.815);
    font-size: 20px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
}

.board-set-icon {
    margin-top: 12px;
    text-align: center;
}

.content-main {
    margin-top: 10px;
    margin-left: 20px;
}

.detail-filter {
    display: flex;
    flex-direction: row;
}

.main-board {
    display: flex;
    flex-direction: row;
}

.box-filter {
    width: 200px;
    height: 50px;
    margin-right: 20px;
}

.wrap-filter {
    margin-top: 5px;
}

.filter {
    border: 2px solid rgb(187, 182, 182);
    border-radius: 6px;
    width: 180px;
    height: 30px;
}

.button-hide-filter1 {
    margin-left: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 2px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.name-board {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 22px;
    border-bottom: 5px solid #4cbd9b;
}

.dot-red {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.dot-blue {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    background-color: rgb(33, 179, 236);
    border-radius: 50%;
    display: inline-block;
}

.dot-green {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    background-color: rgb(21, 197, 15);
    border-radius: 50%;
    display: inline-block;
}

.dot-greenyellow {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.board-management {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    width: 100%;
}

.board-management-status {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-right: 20px;
}

.number-open, .number-inprogress, .number-resolved, .number-closed {
    margin-left: 10px;
    margin-top: 7px;
    border: 0.5px;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    background-color: rgb(224, 222, 222);
    font-weight: 600;
    text-align: center;
}

.name {
    font-weight: 1400;
    margin-top: 5px;
    margin-left: 10px;
}

.list {
    border-radius: 5px;
    background-color: white;
    padding: 20px 17px 12px;
    overflow: visible auto;
    margin-top: 10px;
    margin-right: 10px;
    list-style: none;
}

.typeOfIssue {
    margin-left: 10px;
    border: 0.5px;
    border-radius: 2px;
    background-color: rgb(98, 153, 17);
    color: rgb(255, 249, 249);
    text-align: center;
    font-size: 12px;
    padding: 2px 15px;
    border-radius: 20px;
}

.project-name {
    margin-left: 3px;
    font-size: 14px;
    font-weight: 500;
}

.due-date {
    margin-left: 3px;
    font-size: 13px;
    color: red;
    font-weight: 600;
}

.header-board .board-set-content {
    display: flex;
    flex-direction: row;
}

.header-board .board-set-content .board-project-key {
    margin-top: 12px;
    padding-left: 5px;
}

.board {
    width: 20%;
    margin-right: 20px;
}

.board-status-list {
    list-style: none;
    /* width: 280px; */
    height: 440px;
    background-color: #fff;
    border-radius: 5px;
    overflow: auto;
}

.board-status-list__wrapper {
    padding: 15px;
}

.brief-issue-content {
    width: 100%;
    float: left;
    padding: 5px;
    border: 1px solid #BBB;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.brief-issue-content:hover {
    transition: 0.22s;
    box-shadow: 0 0 4px grey;
}

.card-issue-title {
    text-align: left;
}

.name-issue {
    color: rgb(5, 128, 3);
    padding-left: 3px;
    font-size: 15px;
}

.card-issue-type {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.card-issue-due-date {
    text-align: left;
}