* {
  margin: 0;
  padding: 0;
}

.full-form-setting {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#h3_1 {
  margin-left: 33px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.issue-content {
  border: 1px groove #f0f0f0;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
  width: 80%;
  height: 570px;

  text-align: center;
  margin-left: 33px;
}

.issue-type {
  text-align: left;
  text-decoration: none solid rgb(34, 34, 34);
  text-size-adjust: 100%;
  border: 1px groove #b8b8b8;
  width: 210px;
  height: 33px;
  margin-left: 33px;
  border-style: solid;
}

textarea:focus,
select:focus {
  outline: none;
  background-color: blanchedalmond;
  border-color: #34886f;
  box-shadow: 0 0 5px #34886f;
  transition: 0.2s;
}

#textarea {
  width: 95%;
  height: 270px;
  padding:5px;
  margin:5px;
}

.subject {
  border: 1px groove #b8b8b8;
  margin-top: 10px;
  height: 32px;
  width: 82.5%;
  margin-left: 33px;
}

.table {
  display: flex;
}

.table-left {
  width: 770px;
  height: 240px;
  display: flex;
  flex-direction: row;
  border-spacing: 10px;
}

.table-right {
  width: 770px;
  height: 240px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  border-spacing: 10px;
}

td {
  padding: 5px;
  border-top: 1px solid #e5e5e5;
}
#td_status {
  text-decoration: none solid rgb(119, 119, 119);
  text-size-adjust: 100%;
  transform-origin: 73.0469px 19.5px;
  font: 13px / 20px "Open Sans", Meiryo, メイリオ, Arial, sans-serif;
  text-align: left;
}

.status,
.priority,
.category,
#date-time,
.assignee,
.milestone,
.version {
  border: 1px groove #b8b8b8;
  text-decoration: none solid rgb(119, 119, 119);
  text-size-adjust: 100%;
  transform-origin: 73.0469px 19.5px;
  font: 13px / 20px "Open Sans", Meiryo, メイリオ, Arial, sans-serif;
  text-align: left;
  width: 210px;
  height: 35px;
  margin-left: auto;
}

.submit {
  margin-left: 40px;
  width: 80%;
  display: flex; 
  justify-content: flex-end;
}

.add {
  background-color: #2c9a7a;
  border: solid 1px #2c9a7a;
  border-radius: 1px;
  color: white;
  width: 100px;
  height: 30px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 5px;
 
}

.add:hover {
  
  background-color: #35ac88;
}

.preview {
  background-color: #f2faf8;
  border: solid 1px #2c9a7a;
  border-radius: 1px;
  color: black;
  width: 100px;
  height: 30px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 20px;
  margin-right: 5px;
}

.preview:hover {
  background-color: whitesmoke;
}

#label_1 {
  margin-left: 10px;
  align-items: center;
  block-size: 39px;

  box-sizing: border-box;
  color: rgb(119, 119, 119);
  column-rule-color: rgb(119, 119, 119);
  display: flex;
  height: 39px;
 
  text-decoration: none solid rgb(119, 119, 119);
  text-size-adjust: 100%;
  transform-origin: 73.0469px 19.5px;
  width: 146.094px;
  border: 0px none rgb(119, 119, 119);
  flex: 0 1 30%;
  font: 13px / 20px "Open Sans", Meiryo, メイリオ, Arial, sans-serif;
  outline: rgb(119, 119, 119) none 0px;
  padding: 10px 20px 9px 10px;
} 