.home-content-wrapper {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: row;
  width: 95%;
}

.home-content-main {
  margin-top: 30px;
  display: block;
  padding-right: 18px;
  width: 50%;
}



.title--thirdly-content-main {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.title-group-content-main .title__sub-line {
  font-size: 1rem;
  padding-left: 5px;
  font-weight: 500;
}

.title-group-content-main .title__sub-icon {
  padding-left: 5px;
  color: #cccccc;
}

.home-content-sub {
  padding-left: 18px;
  height: 100%;
  width: 34% ;
}

.title--fourth-content-sub {
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-default-content-sub {
  padding: 18px;
  background-color: #fff;
  border: solid 1px #c2c2c2;
  border-radius: 4px;
}

.graph-bar-full {
  width: 100%;
  height: 100px;
}

.graph-bar-full .graph-bar__fig {
  font-size: 0;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  width: 100%;
  height: 16px;
  padding-top: 5px;
}

.graph-bar-full .graph-bar__fig .status--1 {
  height: 16px;
  background-color: #ed8077;
}

.graph-bar-full .graph-bar__fig .status--2{
  height: 16px;
  background-color: #4488c5;
}

.graph-bar-full .graph-bar__fig .status--3 {
  height: 16px;
  background-color: #5eb5a6;
}

.graph-bar-full .graph-bar__fig .status--4 {
  height: 16px;
  background-color: #a1af2f;
}

.graph-bar-full .graph-bar__info {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  height: 5px;
  width: 100%;
}

.graph-bar__info .graph-bar__info-wrapper {
  text-align: center;
  
  width: 25%;
}

.graph-bar__info-wrapper-title {
  margin-bottom: 5px;
}

.graph-bar__info-wrapper-content {
  font-size: 0.9rem;
  color: #fff;
  height: 20px;
  width: 90%;
  border-radius: 20px;
  vertical-align: middle;
  margin: auto;
}

.graph-bar__info-wrapper .info-content--1 {
  background-color: #ed8077;
}

.graph-bar__info-wrapper .info-content--2 {
  background-color: #4488c5;
}

.graph-bar__info-wrapper .info-content--3 {
  background-color: #5eb5a6;
}

.graph-bar__info-wrapper .info-content--4  {
  background-color: #a1af2f;
}

.timeline {
  position: relative;
  display: block;
  width: 100%;
}