table {
  border-spacing: 0;
}

td {
  text-align: center;
}

.header-issue {
  height: 50px;

  background-color: white;
  color: #4cbd9b;

  text-align: center;
}

.search-condition-button {
  border:   none;
  font-size: 15px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 50px;
}

.bar-status {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}

.statusString {
  font-weight: 600;
}

.filter-nav__item {
  margin-left: 30px;
}

.filter-nav__link {
  border: none;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.filter-nav__link:hover {
  transition: 0.22s;
  color: #fff;
  background-color: #069b6e;
}

.filter-nav__link:focus {
  transition: 0.22s;
  color: #fff;
  background-color: #55c0a2;
}



.box-filter1 {
  width: 200px;
  height: 50px;
  margin-right: 20px;
}

.wrap-filter1 {
  margin-top: 5px;
}

.filter1 {
  border: 2px solid rgb(187, 182, 182);
  border-radius: 6px;
  width: 180px;
  height: 30px;
}

.bar-filter {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.issue-table {
  margin-top: 50px;
  margin-left: 20px;
  border: 1px solid rgb(204, 203, 203);
  background-color: white;

}

.sort {
  background-color: white;
  margin-right: 30px;
  height: 50px;
  font-size: 15px;
  color: #069b6e;
  font-weight: 600;
}

#issueType, #issueKey, #issueSubject, #issueAssignee, #issueStatus, #issueRegister,
#issuePriority, #issueCreated, #issueDuedate, #issueUpdate {
  width: 100px;
  text-align: center;
  padding: 0 5px;
}

.row-issueType,.row-issueKey, .row-issueSubject, .row-issueAssignee, .row-issueStatus, 
.row-issuePriority, .row-issueCreated, .row-issueDueDate, .row-issueUpdate, .row-issueRegister {
  font-size: 13px;
  text-align: center;
}
