table {
  border-spacing: 0;
}

th, td {
  padding: 5px;
}

.header-issue {
  height: 50px;

  background-color: white;
  color: #4cbd9b;

  text-align: center;
}

.search-condition-button {
  border:   none;
  font-size: 15px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 50px;
}

.bar-status {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
}

.statusString {
  font-weight: 600;
}

.filter-nav__item {
  margin-left: 30px;
}

.filter-nav__link {
  border: none;
  font-size: 15px;
}

.box-filter1 {
  width: 200px;
  height: 50px;
  margin-right: 20px;
}

.wrap-filter1 {
  margin-top: 5px;
}

.filter1 {
  border: 2px solid rgb(187, 182, 182);
  border-radius: 6px;
  width: 180px;
  height: 30px;
}

.bar-filter {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.issue-table {
  margin-top: 130px;
  margin-left: 20px;
  border: solid rgb(204, 203, 203);
  border-radius: 10px;
}


.sort {
  background-color: white;
  margin-right: 30px;
  height: 50px;
  font-size: 13px;
  color: #069b6e;
  font-weight: 600;
}

#issueType, #issueStatus, #issuePriority, #issueCreated, #issueDuedate, #issueUpdate {
  width: 90px;
}

#issueKey {
  width: 60px;
}

#issueSubject {
  width: 210px;
}

#issueAssignee {
  width: 160px;
}

#issueRegister {
  width: 160px;
}