.full-settings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settings-set-icon {
    margin-top: 12px;
    text-align: center;
}

.settings-nav-title {
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #777;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.generals-menu{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.settings-nav{
    position: absolute;
    width: 275px;
    margin-left: -275px;
    height: 100vh;
    min-height: 100%;
}
.settings-nav-menu {
    list-style-type: none;
}

.is_active{
    list-style-type: none;
    padding-left: 32px;
    padding-top: 2px;
    padding-bottom: 2px ;
    padding-right: 1150px;
}

.content-main{
    margin-top: 0;
    width: 100%;
    float: none;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 32px;
}

.settings-title{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    margin-bottom: 20px;
}