.dashboard-contents-left {
  width: 100%;
  padding-right: 18px;
  height: 550px;
  overflow: auto;
}

.title-group-dashboard {
  display: flex;
  flex-direction: row;
}

.title-group__inline-title {
  display: inline-block;
  width: 15%;
}

.title-group__edit-actions {
  display: block;
  width: 84%;
  float: right;
  text-align: right;
}

.title-group__edit-actions .button__tooltip-top {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.title-group__edit-actions .button__tooltip-top:hover .edit-actions__tooltip-top {
  visibility: visible;
}

.title-group__edit-actions .edit-actions__button {
  display: inline-block;
  outline: none;
  border-radius: 50%;
  font-size: 1.7rem;
  color: #999;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: 1px solid #999;
  background-color: #fff;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.edit-actions__tooltip-top {
  visibility: hidden;
  position: absolute;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  transition: opacity .6s;
  margin-left: -67px;
  margin-top: -35px;
}

.edit-actions__tooltip-top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.title-group__edit-actions .edit-actions__button:hover {
  transition: 0.22s;
  color: #fff;
  background-color: #2c9a7a;
}

.title-group__edit-actions .edit-actions__button:hover .edit-actions__tooltip-top {
  transition: 0.22s;
  visibility: visible;
}

._plain-button {
  display: inline-block;
  border: none;
  outline: none;
  width: 95px;
  height: 32px;
  overflow: visible;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

._plain-button:hover .icon--arrow-up.-medium::before {
  border-top: 2px solid #2c9a7a;
  border-right: 2px solid#2c9a7a;
}

._plain-button:hover .icon--arrow-down.-medium::before {
  border-top: 2px solid #2c9a7a;
  border-right: 2px solid#2c9a7a;
}

._plain-button-content {
  padding-left: 17px;
}

.icon--arrow-up.-medium::before {
  height: 10px;
  width: 10px;
}

.icon--arrow-down.-medium::before {
  height: 10px;
  width: 10px;
}

.icon--arrow-up::before {
  display: block;
  content: "";
  position: absolute;
  border-top: 2px solid #808080;
  border-right: 2px solid#808080;
  transform: translate(5px, 6px) rotate( -45deg);
  transition-property: border-top, border-right;
  transition-duration: 75ms;
  transition-timing-function: ease-in-out;
}

.icon--arrow-down::before {
  display: block;
  content: "";
  position: absolute;
  border-top: 2px solid #808080;
  border-right: 2px solid#808080;
  transform: translate(5px, 0px) rotate( 135deg);
  transition-property: border-top, border-right;
  transition-duration: 75ms;
  transition-timing-function: ease-in-out;
}

.see-all-wrapper {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.is_opened-project-list {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s ease-in-out;
}

.project-list.-list-view .project-list__wrapper {
  width: 98.8%;
  min-height: 58px;
  /* padding: 9px 3px 0 6px; */
  background-color: #fff;
  border: 1px solid #cccccc;
  margin-bottom: 7px;
}

.project-list.-list-view .project-list__item {
  display: block;
  text-align: left;
  width: calc(100% - 2px);
}

.project-list.-list-view .project-list__item:hover {
  background-color: #2c9a7a;
  transition: 0.22s;
}

.project-list.-list-view .project-list__info {
  padding-left: 10px;
  display: inline-block;
  min-height: 37px;
}

.project-list__info {
  transform: translate3d(0, 0, 0);
}

.see-all-wrapper .project-list {
  list-style: none;
}

.project-list__link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.project-list__icon {
  margin-top: 5px;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

.project-list__icon .fa-building {
  margin-left: 2px;
  position: relative;
  top: calc(50% - 14px);
  font-size: 25px;
  color: #cccccc;
}

.project-list__name-group {
  color: black;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.project-list__name-group .project-list__name {
  padding-top: 3px;
  padding-bottom: 3px;
}

.project-list__name-group .project-list__key {
  margin-top: 2px;
  font-size: 12px;
  vertical-align: bottom;
  text-align: left;
  justify-content: center;
}

.project-list__link-2 {
  display: block;
  position: relative;
  width: 100%;
  height: 58px;
}