.dashboard-contents-right {
  width: 100%;
  padding-left: 18px;
  height: 550px;
  float: right;
  overflow: auto;
}

._plain-button-timeline {
  display: inline-block;
  border: none;
  outline: none;
  width: 150px;
  height: 32px;
  overflow: visible;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

._plain-button-timeline:hover .icon--arrow-up.-medium::before {
  border-top: 2px solid #2c9a7a;
  border-right: 2px solid#2c9a7a;
}

._plain-button-timeline:hover .icon--arrow-down.-medium::before {
  border-top: 2px solid #2c9a7a;
  border-right: 2px solid#2c9a7a;
}

.timeline__stream {
  list-style: none;
}

.timeline__stream-item {
  display: block;
  text-align: left;
  width: calc(100% - 2px);
}

.stream-update-issue {
  width: 90%;
  min-height: 95px;
  padding: 0 20px;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.stream-update__wrap {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  line-height: 1.8rem;
}

.stream-update__icon {
  margin-top: 5px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  background-color: #eaf181;
}

.stream-update__icon .fa-user {
  padding-left: 2px;
  position: relative;
  top: calc(50% - 15px);
  font-size: 27px;
  color: #fff;
}

.stream-update__tilte {
  width: 100%;
}

.stream-update__content {
  width: 87%;
  padding-left: 10px;
}

.stream-update__content .Action-Addissue {
  background-color: #4caf93;
  vertical-align: middle;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 4px;
  border-radius: 20px;
  padding: 2px 10px;
}

.stream-update__content .stream-update__meta {
  float: right;
}
